[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ghastoolkit = "*"

[dev-packages]
black = "*"

[scripts]
test = "python -m unittest discover -v -s ./tests -p 'test_*.py'"
fmt = "black ./bldsa"
lint = "black --check ./bldsa"

vendor = "./vendor/update.sh"
